In [72]:
x=50
y=25
z=x+y
z

75

In [73]:
v=150

In [74]:
u=30

In [75]:
w=v/u

In [76]:
w

5.0

In [77]:
x = 1.0
x.is_integer()

True

In [78]:
x=1.5
x.is_integer()

False

In [1]:
x=10
y=20
z="2022" # Comillas pueden ser dobles o simples
v="Enero", 'Marzo'
w= 0.5 # Decimales siempre con punto
u=0,6 # que pasa con la coma? Se hace un array
v

('Enero', 'Marzo')

In [2]:
type(x)

int

In [3]:
type(u)

tuple

In [4]:
u,w

((0, 6), 0.5)

In [5]:
print(u,z,x)

(0, 6) 2022 10

In [6]:
x=1
type(x)

int

In [7]:
print(x)
x="hola"
print(x)

1
hola

In [4]:
x=[1,2,3]
y=x
print(y,x)

[1, 2, 3] [1, 2, 3]

In [5]:
x.append(4)
print(y)

[1, 2, 3, 4]

In [117]:
x=5
x,y

(5, [1, 2, 3])

In [89]:
Lista =[10,10.5,'hola']
Lista

[10, 10.5, 'hola']

In [110]:
type(Lista)

list

In [106]:
type(Lista)

list

In [92]:
diccionario={
    'nombre':'omar',
    'edad':33,
    'profesion':'profesor'
}
type(diccionario)

dict

In [108]:
diccionario

{'nombre': 'omar', 'edad': 33, 'profesion': 'profesor'}

In [94]:
x=[1,2,3]
y=x

In [109]:
x,y

([1, 2, 3], [1, 2, 3])

In [111]:
a=5
b=8
#suma
s=a-b
s

-3

In [100]:
a==b

False

In [101]:
a>b

False

In [102]:
b>a

True

In [103]:
b>=a

True

In [2]:
a=10
b=[10,5,30]
print(a)
print(a is b),
print(a is not b),
print(a not in b)

10
False
True
False

In [1]:
a = "hola"
b = "a"
print(a is b)
print(a is not b)
print(a in b)
print(a not in b)

False
True
False
True

#Titulo

In [11]:
x = 10
print(x)
z = x+3
print(z)
z+=2
print(z)
z>=x
z in 15

10
13
15

TypeError: argument of type 'int' is not iterable

In [14]:
for i in [1,4,6,2]:
    print(i)

1
4
6
2

In [16]:
for i in range (1,10):
        print(i)

1
2
3
4
5
6
7
8
9

In [21]:
i = 0
while i < 5:
    print(i)
    i+=2

0
2
4

In [23]:
x=1
if x <10:
    print(x,"es menor a 10")
elif x>10:
    print(x,"es mayor a 10")
else:
    print(x,"es 10")

1 es menor a 10

In [25]:
x=5
for i in range (1,x):
    print(i)

1
2
3
4

In [30]:
x=5
for i in range (1,x):
    i*=i
    print(i)

1
4
9
16

In [75]:
def ImprimirSerie(i):
i=int
while i < 4:    
    print(i)
    i+=1
return(i)

ImprimirSerie(1)

IndentationError: expected an indented block (3401949125.py, line 2)

In [56]:
suma=0
for i in range (1,101):
    print(i,suma)
    suma +=i    
suma

1 0
2 1
3 3
4 6
5 10
6 15
7 21
8 28
9 36
10 45
11 55
12 66
13 78
14 91
15 105
16 120
17 136
18 153
19 171
20 190
21 210
22 231
23 253
24 276
25 300
26 325
27 351
28 378
29 406
30 435
31 465
32 496
33 528
34 561
35 595
36 630
37 666
38 703
39 741
40 780
41 820
42 861
43 903
44 946
45 990
46 1035
47 1081
48 1128
49 1176
50 1225
51 1275
52 1326
53 1378
54 1431
55 1485
56 1540
57 1596
58 1653
59 1711
60 1770
61 1830
62 1891
63 1953
64 2016
65 2080
66 2145
67 2211
68 2278
69 2346
70 2415
71 2485
72 2556
73 2628
74 2701
75 2775
76 2850
77 2926
78 3003
79 3081
80 3160
81 3240
82 3321
83 3403
84 3486
85 3570
86 3655
87 3741
88 3828
89 3916
90 4005
91 4095
92 4186
93 4278
94 4371
95 4465
96 4560
97 4656
98 4753
99 4851
100 4950

5050

In [64]:
def UnaSuma(x,y):
    w=x+y
    return w

UnaSuma(1,2)

3