# Clase 5 Manipulación de datos con pandas I

In [1]:
#Importar las librerias
import pandas as pd
import numpy as np

In [4]:
a = np.array([1,2,3])
a

array([1, 2, 3])

In [7]:
b = np.array([(1.5,2,3),(4,5,6)], dtype=float)
b

array([[1.5, 2. , 3. ],
       [4. , 5. , 6. ]])

###### Series

In [7]:
premier = pd.read_csv("df_full_premierleague.csv", index_col=0)
premier.head()

,link_match,season,date,home_team,away_team,result_full,result_ht,home_clearances,home_corners,home_fouls_conceded,...,tackles_avg_away,touches_avg_away,yellow_cards_avg_away,goals_scored_ft_avg_away,goals_conced_ft_avg_away,sg_match_ft_acum_away,goals_scored_ht_avg_away,goals_conced_ht_avg_away,sg_match_ht_acum_away,performance_acum_away
0,https://www.premierleague.com/match/7186,10/11,2010-11-01,Blackpool,West Bromwich Albion,2-1,1-0,15.0,8.0,16.0,...,20.0,584.9,1.6,1.44,1.67,-2.0,0.33,0.78,-4.0,55.6
1,https://www.premierleague.com/match/7404,10/11,2011-04-11,Liverpool,Manchester City,3-0,3-0,16.0,6.0,6.0,...,22.0,681.4,2.0,1.61,0.87,23.0,0.87,0.32,17.0,60.2
2,https://www.premierleague.com/match/7255,10/11,2010-12-13,Manchester United,Arsenal,1-0,1-0,26.0,5.0,9.0,...,21.2,748.0,1.8,2.12,1.12,16.0,0.94,0.38,9.0,66.7
3,https://www.premierleague.com/match/7126,10/11,2010-09-13,Stoke City,Aston Villa,2-1,0-1,26.0,8.0,12.0,...,25.0,567.3,2.0,1.33,2.00,-2.0,1.00,1.00,0.0,66.7
4,https://www.premierleague.com/match/7350,10/11,2011-02-14,Fulham,Chelsea,0-0,0-0,50.0,4.0,11.0,...,19.4,728.6,1.4,1.84,0.88,24.0,0.84,0.48,9.0,58.7

In [8]:
premier.shape

(4070, 113)

In [11]:
premier.columns[:30]

Index(['link_match', 'season', 'date', 'home_team', 'away_team', 'result_full',
       'result_ht', 'home_clearances', 'home_corners', 'home_fouls_conceded',
       'home_offsides', 'home_passes', 'home_possession', 'home_red_cards',
       'home_shots', 'home_shots_on_target', 'home_tackles', 'home_touches',
       'home_yellow_cards', 'away_clearances', 'away_corners',
       'away_fouls_conceded', 'away_offsides', 'away_passes',
       'away_possession', 'away_red_cards', 'away_shots',
       'away_shots_on_target', 'away_tackles', 'away_touches'],
      dtype='object')

In [10]:
premier.dtypes[0:60]

link_match                object
season                    object
date                      object
home_team                 object
away_team                 object
result_full               object
result_ht                 object
home_clearances          float64
home_corners             float64
home_fouls_conceded      float64
home_offsides            float64
home_passes              float64
home_possession          float64
home_red_cards           float64
home_shots               float64
home_shots_on_target     float64
home_tackles             float64
home_touches             float64
home_yellow_cards        float64
away_clearances          float64
away_corners             float64
away_fouls_conceded      float64
away_offsides            float64
away_passes              float64
away_possession          float64
away_red_cards           float64
away_shots               float64
away_shots_on_target     float64
away_tackles             float64
away_touches             float64
away_yellow_cards        float64
goal_home_ft               int64
goal_away_ft               int64
sg_match_ft                int64
goal_home_ht               int64
goal_away_ht               int64
sg_match_ht                int64
clearances_avg_H         float64
corners_avg_H            float64
fouls_conceded_avg_H     float64
offsides_avg_H           float64
passes_avg_H             float64
possession_avg_H         float64
red_cards_avg_H          float64
shots_avg_H              float64
shots_on_target_avg_H    float64
tackles_avg_H            float64
touches_avg_H            float64
yellow_cards_avg_H       float64
goals_scored_ft_avg_H    float64
goals_conced_ft_avg_H    float64
sg_match_ft_acum_H       float64
goals_scored_ht_avg_H    float64
goals_conced_ht_avg_H    float64
sg_match_ht_acum_H       float64
performance_acum_H       float64
clearances_avg_A         float64
corners_avg_A            float64
fouls_conceded_avg_A     float64
offsides_avg_A           float64
dtype: object

In [14]:
premier.isnull().sum()[30:60]

away_yellow_cards          0
goal_home_ft               0
goal_away_ft               0
sg_match_ft                0
goal_home_ht               0
goal_away_ht               0
sg_match_ht                0
clearances_avg_H         220
corners_avg_H            220
fouls_conceded_avg_H     220
offsides_avg_H           220
passes_avg_H             220
possession_avg_H         220
red_cards_avg_H          220
shots_avg_H              220
shots_on_target_avg_H    220
tackles_avg_H            220
touches_avg_H            220
yellow_cards_avg_H       220
goals_scored_ft_avg_H    220
goals_conced_ft_avg_H    220
sg_match_ft_acum_H       220
goals_scored_ht_avg_H    220
goals_conced_ht_avg_H    220
sg_match_ht_acum_H       220
performance_acum_H       220
clearances_avg_A         220
corners_avg_A            220
fouls_conceded_avg_A     220
offsides_avg_A           220
dtype: int64

In [20]:
premier['season'].value_counts()

10/11    380
11/12    380
12/13    380
13/14    380
14/15    380
16/17    380
17/18    380
18/19    380
19/20    380
15/16    379
20/21    271
Name: season, dtype: int64

In [21]:
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

###### Conjunto de datos vinos

In [19]:
vinos = pd.read_csv("wine.data.txt", index_col=0)
vinos.head()

,Alcohol,Malic_acid,Ash,Alcalinity,Magnesium,Phenols,Flavanoids,Nonflavanoid,Proanthocyanins,Color,Hue,OD280/OD315,Proline
Class,,,,,,,,,,,,,
1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735