#### Clase 6 introducci√≥n a Pandas

In [1]:
import pandas as pd

In [5]:
df_lluvias = pd.read_csv("pune_1965_to_2002.csv")
df_lluvias

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1,1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
2,1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
3,1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
4,1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951
5,1970,0.070,0.000,0.001,16.218,68.036,300.546,330.502,283.476,158.640,115.758,0.260,0.000
6,1971,0.000,0.000,0.000,0.812,57.691,297.187,122.195,372.693,286.056,39.424,0.554,0.000
7,1972,0.000,0.029,0.000,5.982,19.101,132.413,338.484,68.741,120.415,1.078,24.089,0.143
8,1973,0.000,2.969,0.234,3.925,14.978,304.484,696.024,256.932,183.206,101.805,5.516,0.000
9,1974,0.000,0.000,6.427,16.864,51.209,148.697,405.359,319.651,288.533,188.876,0.260,0.000
10,1975,0.333,0.585,0.000,0.061,30.651,359.369,474.143,404.372,400.001,105.560,2.763,0.000
11,1976,0.000,0.000,5.993,4.454,3.577,773.737,545.379,436.912,108.459,13.611,44.887,4.158
12,1977,0.000,2.981,3.289,4.432,32.130,319.716,407.246,129.678,89.150,83.193,122.809,7.530
13,1978,0.061,4.197,4.004,44.623,52.950,403.860,192.399,239.066,139.119,26.711,60.996,0.597
14,1979,0.000,0.386,3.343,0.126,6.860,342.324,403.925,451.153,440.381,19.084,101.597,0.008
15,1980,0.008,0.000,8.329,28.764,4.816,349.975,344.268,404.191,94.127,10.826,15.533,7.348
16,1981,2.257,2.121,0.445,10.817,17.193,360.788,507.155,217.037,361.165,80.018,3.715,0.050
17,1982,0.000,0.560,0.000,14.585,50.468,145.343,186.691,194.307,239.402,49.257,62.474,0.000
18,1983,0.395,0.000,0.000,0.061,1.056,225.847,390.041,537.764,428.050,30.771,1.008,1.955
19,1984,0.000,0.391,5.772,4.997,0.508,367.058,621.607,138.006,229.276,167.164,3.786,0.396
20,1985,0.025,0.000,0.922,11.512,6.458,234.930,325.191,297.802,88.877,139.919,108.561,0.655
21,1986,0.000,1.229,0.000,4.567,22.547,635.977,202.570,247.395,105.095,3.746,7.457,37.386
22,1987,3.013,8.410,1.367,3.864,80.539,200.950,172.864,477.113,44.574,150.179,18.281,36.845
23,1988,0.000,0.000,0.000,43.570,12.862,186.431,740.613,211.781,613.522,12.375,0.458,1.037
24,1989,0.008,0.000,9.619,20.774,20.176,425.984,484.451,177.257,236.803,23.424,0.585,0.943
25,1990,0.004,0.531,0.789,0.274,78.384,423.314,583.557,451.707,69.182,115.349,41.888,1.315
26,1991,0.004,0.071,0.972,27.964,30.405,565.900,479.719,193.423,178.727,4.135,15.936,0.000
27,1992,0.000,0.000,0.000,3.165,9.580,227.180,321.551,428.764,287.582,40.079,5.982,0.000
28,1993,0.000,0.078,1.211,2.062,3.248,234.068,450.088,150.278,101.928,225.904,6.240,35.147
29,1994,0.879,0.325,2.415,16.823,33.378,749.030,707.986,230.898,115.509,116.348,14.098,0.000
30,1995,0.695,0.000,1.770,25.949,23.964,163.515,501.461,114.206,288.262,84.359,4.866,0.021
31,1996,0.016,2.779,0.087,6.318,5.134,453.607,558.586,212.489,203.642,176.471,12.202,0.000
32,1997,1.284,0.000,0.747,23.912,4.664,673.831,422.913,541.579,60.477,31.050,65.392,18.991
33,1998,0.008,2.671,0.073,0.377,15.717,238.609,590.663,362.357,243.444,96.324,52.965,0.035
34,1999,0.000,1.431,0.000,0.642,35.828,415.471,277.137,98.616,225.962,180.300,0.263,0.033
35,2000,0.000,0.170,0.000,1.193,26.237,371.328,265.417,220.814,147.196,38.246,15.274,8.187
36,2001,0.147,0.000,2.178,1.528,7.860,247.982,279.547,189.404,158.025,135.518,23.633,0.003
37,2002,0.231,0.911,0.388,53.266,18.430,509.145,84.936,257.205,78.269,21.486,0.614,0.000

In [6]:
indice = list(df_lluvias.Year)
indice

[1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002]

In [7]:
columnas = df_lluvias.columns[1:]
columnas

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec'],
      dtype='object')

In [8]:
valores=df_lluvias.values[:,1:]

In [9]:
valores

array([[2.90000e-02, 6.90000e-02, 0.00000e+00, 2.16670e+01, 1.78590e+01,
        1.02111e+02, 6.06071e+02, 4.02521e+02, 6.95110e+01, 5.24900e+00,
        1.62320e+01, 2.20750e+01],
       [9.05000e-01, 0.00000e+00, 0.00000e+00, 2.98100e+00, 6.30080e+01,
        9.40880e+01, 4.81942e+02, 5.93860e+01, 1.50624e+02, 1.30800e+00,
        4.12140e+01, 4.13200e+00],
       [2.48000e-01, 3.39000e+00, 1.32000e+00, 1.34820e+01, 1.11160e+01,
        2.51314e+02, 7.80006e+02, 1.81069e+02, 1.83757e+02, 5.04040e+01,
        8.39300e+00, 3.76850e+01],
       [3.18000e-01, 3.03500e+00, 1.70400e+00, 2.33070e+01, 7.44100e+00,
        1.79872e+02, 3.79354e+02, 1.71979e+02, 2.19884e+02, 7.39970e+01,
        2.33260e+01, 2.02000e+00],
       [2.48000e-01, 2.52400e+00, 3.34000e-01, 4.56900e+00, 6.21300e+00,
        3.93682e+02, 6.78354e+02, 3.97335e+02, 2.05413e+02, 2.40140e+01,
        2.43850e+01, 1.95100e+00],
       [7.00000e-02, 0.00000e+00, 1.00000e-03, 1.62180e+01, 6.80360e+01,
        3.00546e+02, 3.30502e+02, 2.83476e+02, 1.58640e+02, 1.15758e+02,
        2.60000e-01, 0.00000e+00],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 8.12000e-01, 5.76910e+01,
        2.97187e+02, 1.22195e+02, 3.72693e+02, 2.86056e+02, 3.94240e+01,
        5.54000e-01, 0.00000e+00],
       [0.00000e+00, 2.90000e-02, 0.00000e+00, 5.98200e+00, 1.91010e+01,
        1.32413e+02, 3.38484e+02, 6.87410e+01, 1.20415e+02, 1.07800e+00,
        2.40890e+01, 1.43000e-01],
       [0.00000e+00, 2.96900e+00, 2.34000e-01, 3.92500e+00, 1.49780e+01,
        3.04484e+02, 6.96024e+02, 2.56932e+02, 1.83206e+02, 1.01805e+02,
        5.51600e+00, 0.00000e+00],
       [0.00000e+00, 0.00000e+00, 6.42700e+00, 1.68640e+01, 5.12090e+01,
        1.48697e+02, 4.05359e+02, 3.19651e+02, 2.88533e+02, 1.88876e+02,
        2.60000e-01, 0.00000e+00],
       [3.33000e-01, 5.85000e-01, 0.00000e+00, 6.10000e-02, 3.06510e+01,
        3.59369e+02, 4.74143e+02, 4.04372e+02, 4.00001e+02, 1.05560e+02,
        2.76300e+00, 0.00000e+00],
       [0.00000e+00, 0.00000e+00, 5.99300e+00, 4.45400e+00, 3.57700e+00,
        7.73737e+02, 5.45379e+02, 4.36912e+02, 1.08459e+02, 1.36110e+01,
        4.48870e+01, 4.15800e+00],
       [0.00000e+00, 2.98100e+00, 3.28900e+00, 4.43200e+00, 3.21300e+01,
        3.19716e+02, 4.07246e+02, 1.29678e+02, 8.91500e+01, 8.31930e+01,
        1.22809e+02, 7.53000e+00],
       [6.10000e-02, 4.19700e+00, 4.00400e+00, 4.46230e+01, 5.29500e+01,
        4.03860e+02, 1.92399e+02, 2.39066e+02, 1.39119e+02, 2.67110e+01,
        6.09960e+01, 5.97000e-01],
       [0.00000e+00, 3.86000e-01, 3.34300e+00, 1.26000e-01, 6.86000e+00,
        3.42324e+02, 4.03925e+02, 4.51153e+02, 4.40381e+02, 1.90840e+01,
        1.01597e+02, 8.00000e-03],
       [8.00000e-03, 0.00000e+00, 8.32900e+00, 2.87640e+01, 4.81600e+00,
        3.49975e+02, 3.44268e+02, 4.04191e+02, 9.41270e+01, 1.08260e+01,
        1.55330e+01, 7.34800e+00],
       [2.25700e+00, 2.12100e+00, 4.45000e-01, 1.08170e+01, 1.71930e+01,
        3.60788e+02, 5.07155e+02, 2.17037e+02, 3.61165e+02, 8.00180e+01,
        3.71500e+00, 5.00000e-02],
       [0.00000e+00, 5.60000e-01, 0.00000e+00, 1.45850e+01, 5.04680e+01,
        1.45343e+02, 1.86691e+02, 1.94307e+02, 2.39402e+02, 4.92570e+01,
        6.24740e+01, 0.00000e+00],
       [3.95000e-01, 0.00000e+00, 0.00000e+00, 6.10000e-02, 1.05600e+00,
        2.25847e+02, 3.90041e+02, 5.37764e+02, 4.28050e+02, 3.07710e+01,
        1.00800e+00, 1.95500e+00],
       [0.00000e+00, 3.91000e-01, 5.77200e+00, 4.99700e+00, 5.08000e-01,
        3.67058e+02, 6.21607e+02, 1.38006e+02, 2.29276e+02, 1.67164e+02,
        3.78600e+00, 3.96000e-01],
       [2.50000e-02, 0.00000e+00, 9.22000e-01, 1.15120e+01, 6.45800e+00,
        2.34930e+02, 3.25191e+02, 2.97802e+02, 8.88770e+01, 1.39919e+02,
        1.08561e+02, 6.55000e-01],
       [0.00000e+00, 1.22900e+00, 0.00000e+00, 4.56700e+00, 2.25470e+01,
        6.35977e+02, 2.02570e+02, 2.47395e+02, 1.05095e+02, 3.74600e+00,
        7.45700e+00, 3.73860e+01],
       [3.01300e+00, 8.41000e+00, 1.36700e+00, 3.86400e+00, 8.05390e+01,
        2.00950e+02, 1.72864e+02, 4.77113e+02, 4.45740e+01, 1.50179e+02,
        1.82810e+01, 3.68450e+01],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 4.35700e+01, 1.28620e+01,
        1.86431e+02, 7.40613e+02, 2.11781e+02, 6.13522e+02, 1.23750e+01,
        4.58000e-01, 1.03700e+00],
       [8.00000e-03, 0.00000e+00, 9.61900e+00, 2.07740e+01, 2.01760e+01,
        4.25984e+02, 4.84451e+02, 1.77257e+02, 2.36803e+02, 2.34240e+01,
        5.85000e-01, 9.43000e-01],
       [4.00000e-03, 5.31000e-01, 7.89000e-01, 2.74000e-01, 7.83840e+01,
        4.23314e+02, 5.83557e+02, 4.51707e+02, 6.91820e+01, 1.15349e+02,
        4.18880e+01, 1.31500e+00],
       [4.00000e-03, 7.10000e-02, 9.72000e-01, 2.79640e+01, 3.04050e+01,
        5.65900e+02, 4.79719e+02, 1.93423e+02, 1.78727e+02, 4.13500e+00,
        1.59360e+01, 0.00000e+00],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 3.16500e+00, 9.58000e+00,
        2.27180e+02, 3.21551e+02, 4.28764e+02, 2.87582e+02, 4.00790e+01,
        5.98200e+00, 0.00000e+00],
       [0.00000e+00, 7.80000e-02, 1.21100e+00, 2.06200e+00, 3.24800e+00,
        2.34068e+02, 4.50088e+02, 1.50278e+02, 1.01928e+02, 2.25904e+02,
        6.24000e+00, 3.51470e+01],
       [8.79000e-01, 3.25000e-01, 2.41500e+00, 1.68230e+01, 3.33780e+01,
        7.49030e+02, 7.07986e+02, 2.30898e+02, 1.15509e+02, 1.16348e+02,
        1.40980e+01, 0.00000e+00],
       [6.95000e-01, 0.00000e+00, 1.77000e+00, 2.59490e+01, 2.39640e+01,
        1.63515e+02, 5.01461e+02, 1.14206e+02, 2.88262e+02, 8.43590e+01,
        4.86600e+00, 2.10000e-02],
       [1.60000e-02, 2.77900e+00, 8.70000e-02, 6.31800e+00, 5.13400e+00,
        4.53607e+02, 5.58586e+02, 2.12489e+02, 2.03642e+02, 1.76471e+02,
        1.22020e+01, 0.00000e+00],
       [1.28400e+00, 0.00000e+00, 7.47000e-01, 2.39120e+01, 4.66400e+00,
        6.73831e+02, 4.22913e+02, 5.41579e+02, 6.04770e+01, 3.10500e+01,
        6.53920e+01, 1.89910e+01],
       [8.00000e-03, 2.67100e+00, 7.30000e-02, 3.77000e-01, 1.57170e+01,
        2.38609e+02, 5.90663e+02, 3.62357e+02, 2.43444e+02, 9.63240e+01,
        5.29650e+01, 3.50000e-02],
       [0.00000e+00, 1.43100e+00, 0.00000e+00, 6.42000e-01, 3.58280e+01,
        4.15471e+02, 2.77137e+02, 9.86160e+01, 2.25962e+02, 1.80300e+02,
        2.63000e-01, 3.30000e-02],
       [0.00000e+00, 1.70000e-01, 0.00000e+00, 1.19300e+00, 2.62370e+01,
        3.71328e+02, 2.65417e+02, 2.20814e+02, 1.47196e+02, 3.82460e+01,
        1.52740e+01, 8.18700e+00],
       [1.47000e-01, 0.00000e+00, 2.17800e+00, 1.52800e+00, 7.86000e+00,
        2.47982e+02, 2.79547e+02, 1.89404e+02, 1.58025e+02, 1.35518e+02,
        2.36330e+01, 3.00000e-03],
       [2.31000e-01, 9.11000e-01, 3.88000e-01, 5.32660e+01, 1.84300e+01,
        5.09145e+02, 8.49360e+01, 2.57205e+02, 7.82690e+01, 2.14860e+01,
        6.14000e-01, 0.00000e+00]])

In [10]:
df_lluvias_final = pd.DataFrame(valores,index=indice,columns=columnas)
df_lluvias_final

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951
1970,0.070,0.000,0.001,16.218,68.036,300.546,330.502,283.476,158.640,115.758,0.260,0.000
1971,0.000,0.000,0.000,0.812,57.691,297.187,122.195,372.693,286.056,39.424,0.554,0.000
1972,0.000,0.029,0.000,5.982,19.101,132.413,338.484,68.741,120.415,1.078,24.089,0.143
1973,0.000,2.969,0.234,3.925,14.978,304.484,696.024,256.932,183.206,101.805,5.516,0.000
1974,0.000,0.000,6.427,16.864,51.209,148.697,405.359,319.651,288.533,188.876,0.260,0.000
1975,0.333,0.585,0.000,0.061,30.651,359.369,474.143,404.372,400.001,105.560,2.763,0.000
1976,0.000,0.000,5.993,4.454,3.577,773.737,545.379,436.912,108.459,13.611,44.887,4.158
1977,0.000,2.981,3.289,4.432,32.130,319.716,407.246,129.678,89.150,83.193,122.809,7.530
1978,0.061,4.197,4.004,44.623,52.950,403.860,192.399,239.066,139.119,26.711,60.996,0.597
1979,0.000,0.386,3.343,0.126,6.860,342.324,403.925,451.153,440.381,19.084,101.597,0.008
1980,0.008,0.000,8.329,28.764,4.816,349.975,344.268,404.191,94.127,10.826,15.533,7.348
1981,2.257,2.121,0.445,10.817,17.193,360.788,507.155,217.037,361.165,80.018,3.715,0.050
1982,0.000,0.560,0.000,14.585,50.468,145.343,186.691,194.307,239.402,49.257,62.474,0.000
1983,0.395,0.000,0.000,0.061,1.056,225.847,390.041,537.764,428.050,30.771,1.008,1.955
1984,0.000,0.391,5.772,4.997,0.508,367.058,621.607,138.006,229.276,167.164,3.786,0.396
1985,0.025,0.000,0.922,11.512,6.458,234.930,325.191,297.802,88.877,139.919,108.561,0.655
1986,0.000,1.229,0.000,4.567,22.547,635.977,202.570,247.395,105.095,3.746,7.457,37.386
1987,3.013,8.410,1.367,3.864,80.539,200.950,172.864,477.113,44.574,150.179,18.281,36.845
1988,0.000,0.000,0.000,43.570,12.862,186.431,740.613,211.781,613.522,12.375,0.458,1.037
1989,0.008,0.000,9.619,20.774,20.176,425.984,484.451,177.257,236.803,23.424,0.585,0.943
1990,0.004,0.531,0.789,0.274,78.384,423.314,583.557,451.707,69.182,115.349,41.888,1.315
1991,0.004,0.071,0.972,27.964,30.405,565.900,479.719,193.423,178.727,4.135,15.936,0.000
1992,0.000,0.000,0.000,3.165,9.580,227.180,321.551,428.764,287.582,40.079,5.982,0.000
1993,0.000,0.078,1.211,2.062,3.248,234.068,450.088,150.278,101.928,225.904,6.240,35.147
1994,0.879,0.325,2.415,16.823,33.378,749.030,707.986,230.898,115.509,116.348,14.098,0.000
1995,0.695,0.000,1.770,25.949,23.964,163.515,501.461,114.206,288.262,84.359,4.866,0.021
1996,0.016,2.779,0.087,6.318,5.134,453.607,558.586,212.489,203.642,176.471,12.202,0.000
1997,1.284,0.000,0.747,23.912,4.664,673.831,422.913,541.579,60.477,31.050,65.392,18.991
1998,0.008,2.671,0.073,0.377,15.717,238.609,590.663,362.357,243.444,96.324,52.965,0.035
1999,0.000,1.431,0.000,0.642,35.828,415.471,277.137,98.616,225.962,180.300,0.263,0.033
2000,0.000,0.170,0.000,1.193,26.237,371.328,265.417,220.814,147.196,38.246,15.274,8.187
2001,0.147,0.000,2.178,1.528,7.860,247.982,279.547,189.404,158.025,135.518,23.633,0.003
2002,0.231,0.911,0.388,53.266,18.430,509.145,84.936,257.205,78.269,21.486,0.614,0.000

In [11]:
df_lluvias_final.sum()

Jan       11.186
Feb       41.843
Mar       63.733
Apr      470.487
May      952.272
Jun    12809.663
Jul    16340.395
Aug    10529.357
Sep     7642.245
Oct     2783.320
Nov      958.492
Dec      230.646
dtype: float64

In [12]:
df_lluvias_final.mean(axis='columns')

1965    105.282833
1966     74.965667
1967    126.848667
1968     90.519750
1969    144.918500
1970    106.125583
1971     98.051000
1972     59.206250
1973    130.839417
1974    118.823000
1975    148.153167
1976    161.763917
1977    100.179500
1978     97.381917
1979    147.432250
1980    105.682083
1981    130.230083
1982     78.590583
1983    134.745667
1984    128.246750
1985    101.237667
1986    105.664083
1987     99.833250
1988    151.887417
1989    116.668667
1990    147.191167
1991    124.771333
1992    110.323583
1993    100.854333
1994    165.640750
1995    100.755667
1996    135.944250
1997    153.736667
1998    133.603583
1999    102.973583
2000     91.171833
2001     87.152083
2002     85.406750
dtype: float64

In [13]:
df_lluvias_final.describe().round(1)

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
count,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0
mean,0.3,1.1,1.7,12.4,25.1,337.1,430.0,277.1,201.1,73.2,25.2,6.1
std,0.6,1.7,2.5,13.7,22.5,171.7,178.0,132.2,123.7,62.9,31.8,11.7
min,0.0,0.0,0.0,0.1,0.5,94.1,84.9,59.4,44.6,1.1,0.3,0.0
25%,0.0,0.0,0.0,2.3,7.0,226.2,322.5,183.2,105.9,22.0,3.7,0.0
50%,0.0,0.2,0.6,5.5,18.1,312.1,415.1,243.2,181.0,49.8,14.7,0.5
75%,0.2,1.9,2.1,19.8,33.1,412.6,555.3,401.2,242.4,115.7,37.0,4.2
max,3.0,8.4,9.6,53.3,80.5,773.7,780.0,541.6,613.5,225.9,122.8,37.7

In [14]:
df_lluvias_final.T.describe().round(1)

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002
count,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0
mean,105.3,75.0,126.8,90.5,144.9,106.1,98.1,59.2,130.8,118.8,...,100.9,165.6,100.8,135.9,153.7,133.6,103.0,91.2,87.2,85.4
std,193.8,136.7,223.5,121.5,226.5,130.8,139.3,100.1,209.3,148.0,...,141.6,272.2,154.0,194.0,243.5,189.4,140.4,128.4,108.0,152.2
min,0.0,0.0,0.2,0.3,0.2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,4.0,1.2,7.1,2.8,2.4,0.1,0.0,0.1,2.3,0.2,...,1.8,2.0,1.5,2.1,3.8,0.3,0.2,0.9,1.2,0.6
50%,19.8,22.7,25.6,23.3,15.1,42.1,20.1,12.5,10.2,34.0,...,20.7,25.1,25.0,9.3,27.5,34.3,18.6,20.8,15.7,20.0
75%,77.7,70.8,181.7,174.0,252.5,189.8,163.2,81.7,201.6,213.8,...,169.2,145.0,126.5,205.9,154.8,239.8,191.7,165.6,165.9,79.9
max,606.1,481.9,780.0,379.4,678.4,330.5,372.7,338.5,696.0,405.4,...,450.1,749.0,501.5,558.6,673.8,590.7,415.5,371.3,279.5,509.1

#### Ahora con presidentes de USA

In [15]:
pres_archivo=pd.read_csv('us_presidents 2.csv')
pres_archivo

,Unnamed: 0,S.No.,start,end,president,prior,party,vice
0,0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801‚Äì...,Democratic- Republican,George Clinton
4,4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811‚Äì...,Democratic- Republican,Daniel D. Tompkins
5,5,6,"March 4, 1825","March 4, 1829",John Quincy Adams,8th United States Secretary of State (1817‚Äì...,Democratic- Republican,John C. Calhoun
6,6,7,"March 4, 1829","March 4, 1837",Andrew Jackson,U.S. Senator ( Class 2 ) from Tennessee ...,Democratic,John C. Calhoun
7,7,8,"March 4, 1837","March 4, 1841",Martin Van Buren,8th Vice President of the United States,Democratic,Richard Mentor Johnson
8,8,9,"March 4, 1841","April 4, 1841",William Henry Harrison,United States Minister to Colombia (1828‚Äì1829),Whig,John Tyler
9,9,10,"April 4, 1841","March 4, 1845",John Tyler,10th Vice President of the United States,"Whig April 4, 1841 ‚Äì September 13, 1841",Office vacant
10,10,11,"March 4, 1845","March 4, 1849",James K. Polk,9th Governor of Tennessee (1839‚Äì1841),Democratic,George M. Dallas
11,11,12,"March 4, 1849","July 9, 1850",Zachary Taylor,Major General of the 1st Infantry Regiment ...,Whig,Millard Fillmore
12,12,13,"July 9, 1850","March 4, 1853",Millard Fillmore,12th Vice President of the United States,Whig,Office vacant
13,13,14,"March 4, 1853","March 4, 1857",Franklin Pierce,Brigadier General of the 9th Infantry Unit...,Democratic,William R. King
14,14,15,"March 4, 1857","March 4, 1861",James Buchanan,United States Minister to the Court of St J...,Democratic,John C. Breckinridge
15,15,16,"March 4, 1861","April 15, 1865",Abraham Lincoln,U.S. Representative for Illinois' 7th Distri...,Republican ( National Union ) [i],Hannibal Hamlin
16,16,17,"April 15, 1865","March 4, 1869",Andrew Johnson,16th Vice President of the United States,National Union [i] ( Democratic ) [j],Office vacant
17,17,18,"March 4, 1869","March 4, 1877",Ulysses S. Grant,Commanding General of the U.S. Army ( 1864‚Äì...,Republican,Schuyler Colfax
18,18,19,"March 4, 1877","March 4, 1881",Rutherford B. Hayes,29th & 32nd Governor of Ohio (1868‚Äì1872 & 1...,Republican,William A. Wheeler
19,19,20,"March 4, 1881","September 19, 1881",James A. Garfield,U.S. Representative for Ohio's 19th District...,Republican,Chester A. Arthur
20,20,21,"September 19, 1881","March 4, 1885",Chester A. Arthur,20th Vice President of the United States,Republican,Office vacant
21,21,22,"March 4, 1885","March 4, 1889",Grover Cleveland,28th Governor of New York (1883‚Äì1885),Democratic,Thomas A. Hendricks
22,22,23,"March 4, 1889","March 4, 1893",Benjamin Harrison,U.S. Senator ( Class 1 ) from Indiana (...,Republican,Levi P. Morton
23,23,24,"March 4, 1893","March 4, 1897",Grover Cleveland,22nd President of the United States (1885‚Äì1...,Democratic,Adlai Stevenson
24,24,25,"March 4, 1897","September 14, 1901",William McKinley,39th Governor of Ohio (1892‚Äì1896),Republican,Garret Hobart
25,25,26,"September 14, 1901","March 4, 1909",Theodore Roosevelt,25th Vice President of the United States,Republican,Office vacant
26,26,27,"March 4, 1909","March 4, 1913",William Howard Taft,42nd United States Secretary of War (1904‚Äì1...,Republican,James S. Sherman
27,27,28,"March 4, 1913","March 4, 1921",Woodrow Wilson,34th Governor of New Jersey (1911‚Äì1913),Democratic,Thomas R. Marshall
28,28,29,"March 4, 1921","August 2, 1923",Warren G. Harding,U.S. Senator ( Class 3 ) from Ohio (191...,Republican,Calvin Coolidge
29,29,30,"August 2, 1923","March 4, 1929",Calvin Coolidge,29th Vice President of the United States,Republican,Office vacant
30,30,31,"March 4, 1929","March 4, 1933",Herbert Hoover,3rd United States Secretary of Commerce (19...,Republican,Charles Curtis
31,31,32,"March 4, 1933","January 20, 1941",Franklin D. Roosevelt,44th Governor of New York ( 1929‚Äì1932 ),Democratic,John Nance Garner
32,32,33,"April 12, 1945","January 20, 1953",Harry S. Truman,34th Vice President of the United States,Democratic,Office vacant
33,33,34,"January 20, 1953","January 20, 1961",Dwight D. Eisenhower,Supreme Allied Commander Europe ( 1949‚Äì1952 ),Republican,Richard Nixon
34,34,35,"January 20, 1961","November 22, 1963",John F. Kennedy,U.S. Senator ( Class 1 ) from Massachuset...,Democratic,Lyndon B. Johnson
35,35,36,"November 22, 1963","January 20, 1969",Lyndon B. Johnson,37th Vice President of the United States,Democratic,Office vacant
36,36,37,"January 20, 1969","August 9, 1974",Richard Nixon,36th Vice President of the United States (1...,Republican,Spiro Agnew
37,37,38,"August 9, 1974","January 20, 1977",Gerald Ford,40th Vice President of the United States,Republican,Office vacant
38,38,39,"January 20, 1977","January 20, 1981",Jimmy Carter,76th Governor of Georgia (1971‚Äì1975),Democratic,Walter Mondale
39,39,40,"January 20, 1981","January 20, 1989",Ronald Reagan,33rd Governor of California ( 1967‚Äì1975 ),Republican,George H. W. Bush
40,40,41,"January 20, 1989","January 20, 1993",George H. W. Bush,43rd Vice President of the United States,Republican,Dan Quayle
41,41,42,"January 20, 1993","January 20, 2001",Bill Clinton,40th & 42nd Governor of Arkansas (1979‚Äì1981...,Democratic,Al Gore
42,42,43,"January 20, 2001","January 20, 2009",George W. Bush,46th Governor of Texas ( 1995‚Äì2000 ),Republican,Dick Cheney
43,43,44,"January 20, 2009",NaN,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden
44,44,45,"January 20, 2017",--,Donald Trump,Chairman of The Trump Organization ( 1971‚Äì...,Republican,Mike Pence

In [16]:
pres_name = pd.Series(pres_archivo['president'])
pres_name

0          George Washington
1                 John Adams
2           Thomas Jefferson
3              James Madison
4               James Monroe
5          John Quincy Adams
6             Andrew Jackson
7           Martin Van Buren
8     William Henry Harrison
9                 John Tyler
10             James K. Polk
11            Zachary Taylor
12          Millard Fillmore
13           Franklin Pierce
14            James Buchanan
15           Abraham Lincoln
16            Andrew Johnson
17          Ulysses S. Grant
18       Rutherford B. Hayes
19         James A. Garfield
20         Chester A. Arthur
21          Grover Cleveland
22         Benjamin Harrison
23          Grover Cleveland
24          William McKinley
25        Theodore Roosevelt
26       William Howard Taft
27            Woodrow Wilson
28         Warren G. Harding
29           Calvin Coolidge
30            Herbert Hoover
31     Franklin D. Roosevelt
32           Harry S. Truman
33      Dwight D. Eisenhower
34           John F. Kennedy
35         Lyndon B. Johnson
36             Richard Nixon
37               Gerald Ford
38              Jimmy Carter
39             Ronald Reagan
40         George H. W. Bush
41              Bill Clinton
42            George W. Bush
43              Barack Obama
44              Donald Trump
Name: president, dtype: object

In [17]:
#A mayuscula
pres_name.str.upper()

0          GEORGE WASHINGTON
1                 JOHN ADAMS
2           THOMAS JEFFERSON
3              JAMES MADISON
4               JAMES MONROE
5          JOHN QUINCY ADAMS
6             ANDREW JACKSON
7           MARTIN VAN BUREN
8     WILLIAM HENRY HARRISON
9                 JOHN TYLER
10             JAMES K. POLK
11            ZACHARY TAYLOR
12          MILLARD FILLMORE
13           FRANKLIN PIERCE
14            JAMES BUCHANAN
15           ABRAHAM LINCOLN
16            ANDREW JOHNSON
17          ULYSSES S. GRANT
18       RUTHERFORD B. HAYES
19         JAMES A. GARFIELD
20         CHESTER A. ARTHUR
21          GROVER CLEVELAND
22         BENJAMIN HARRISON
23          GROVER CLEVELAND
24          WILLIAM MCKINLEY
25        THEODORE ROOSEVELT
26       WILLIAM HOWARD TAFT
27            WOODROW WILSON
28         WARREN G. HARDING
29           CALVIN COOLIDGE
30            HERBERT HOOVER
31     FRANKLIN D. ROOSEVELT
32           HARRY S. TRUMAN
33      DWIGHT D. EISENHOWER
34           JOHN F. KENNEDY
35         LYNDON B. JOHNSON
36             RICHARD NIXON
37               GERALD FORD
38              JIMMY CARTER
39             RONALD REAGAN
40         GEORGE H. W. BUSH
41              BILL CLINTON
42            GEORGE W. BUSH
43              BARACK OBAMA
44              DONALD TRUMP
Name: president, dtype: object

In [18]:
pres_name.str.len()

0     17
1     10
2     16
3     13
4     12
5     17
6     14
7     16
8     22
9     10
10    13
11    14
12    16
13    15
14    14
15    15
16    14
17    16
18    19
19    17
20    17
21    16
22    17
23    16
24    16
25    18
26    19
27    14
28    17
29    15
30    14
31    21
32    15
33    20
34    15
35    17
36    13
37    11
38    12
39    13
40    17
41    12
42    14
43    12
44    12
Name: president, dtype: int64

In [20]:
pres_name.str.startswith('J')

0     False
1      True
2     False
3      True
4      True
5      True
6     False
7     False
8     False
9      True
10     True
11    False
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34     True
35    False
36    False
37    False
38     True
39    False
40    False
41    False
42    False
43    False
44    False
Name: president, dtype: bool

In [21]:
pres_name.str.split()

0           [George, Washington]
1                  [John, Adams]
2            [Thomas, Jefferson]
3               [James, Madison]
4                [James, Monroe]
5          [John, Quincy, Adams]
6              [Andrew, Jackson]
7           [Martin, Van, Buren]
8     [William, Henry, Harrison]
9                  [John, Tyler]
10             [James, K., Polk]
11             [Zachary, Taylor]
12           [Millard, Fillmore]
13            [Franklin, Pierce]
14             [James, Buchanan]
15            [Abraham, Lincoln]
16             [Andrew, Johnson]
17          [Ulysses, S., Grant]
18       [Rutherford, B., Hayes]
19         [James, A., Garfield]
20         [Chester, A., Arthur]
21           [Grover, Cleveland]
22          [Benjamin, Harrison]
23           [Grover, Cleveland]
24           [William, McKinley]
25         [Theodore, Roosevelt]
26       [William, Howard, Taft]
27             [Woodrow, Wilson]
28         [Warren, G., Harding]
29            [Calvin, Coolidge]
30             [Herbert, Hoover]
31     [Franklin, D., Roosevelt]
32           [Harry, S., Truman]
33      [Dwight, D., Eisenhower]
34           [John, F., Kennedy]
35         [Lyndon, B., Johnson]
36              [Richard, Nixon]
37                [Gerald, Ford]
38               [Jimmy, Carter]
39              [Ronald, Reagan]
40        [George, H., W., Bush]
41               [Bill, Clinton]
42            [George, W., Bush]
43               [Barack, Obama]
44               [Donald, Trump]
Name: president, dtype: object